.header___lang-link {
    line-height: 28px;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    text-align: right;
    text-decoration: underline;
    max-width: 30px;
    max-height: 28px;
    margin: 18px 0 6px 0;
}