.page {
    background-color: #2A2C2F;
    /* max-width: 1184px; */
    /* выше установили ограничение по максимальной ширине */
    margin: 0;
}


/* @media (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }
}
 */
