.photo-grid__list {
    list-style: none;
    padding: 0;
    margin: 0 auto 0 auto;
    line-height: 0;
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    max-width: 1184px;
    width: 100vw;
}

@media (max-width: 1024px) {
    .photo-grid__list {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 928px;
        gap: 14px;
    }
}

@media (max-width: 786px) {
    .photo-grid__list {
        grid-template-columns: 1fr 1fr;
        max-width: 720px;
        gap: 16px;
    }
}


@media (max-width: 320px) {
    .photo-grid__list {
        grid-template-columns: 1fr;
        max-width: 288px;
        gap: 12px;
    }
}