.places {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: min(984px, 100vw);
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .places {
        max-width: min(928px, 100vw);
    }
}

@media (max-width: 768px) {
    .places {
        max-width: min(720px, 100vw);
    }
}