.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    word-wrap: break-word;
    color: #FFFFFF;
    max-width: min(720px, 100vw - 32px);
    margin: 0;
}


@media (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}