.footer__links {
    display: flex;
    justify-content: flex-start;
    column-gap: 18px;
    list-style: none;
    padding: 0;
    margin: 0 24px 0 0;
}

@media (max-width: 768px) {
    .footer__links {
        row-gap: 18px;
    }
}


@media (max-width: 320px) {
    .footer__links {
        flex-direction: column;
        row-gap: 32px;
    }
}
