.place__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    

          
}

@media (max-width: 786px) {
    .place__title {
        line-height: 12px;
    }
}