.intro__text {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0 0 33px 0;
    word-wrap: break-word;
}


@media (max-width: 320px) {
    .intro__text {
        /** Так точнее попадание в pixel perfect */
        margin: 0 0 33px 0;
    }
}
