.intro {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: min(984px, 100vw);
}


@media (max-width: 1024px) {
    .intro {
        min-width: min(928px, 100vw);
    }
}

@media (max-width: 768px) {
    .intro {
        min-width: min(720px, 100vw);
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 320px) {
    .intro {
        min-width: min(288px, 100vw);
        justify-content: center;
        align-items: center;
    }
}

