.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 740px;
    max-width: 1184px;
    margin: 0 48px 0 48px;
}


@media (max-width: 1024px) {
    .cover {
        margin: 0;
    }
}

@media (max-width: 320px) {
    .cover {
        min-height: 200px;
    }
}