.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 740px;
    max-width: min(1184px, 100vw);
    margin: 0 auto 0 auto;
}


@media (max-width: 1024px) {
    .cover {
    }
}

@media (max-width: 320px) {
    .cover {
        min-height: 200px;
    }
}