.place__url-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #AAAAAA;
    text-transform: uppercase;
}


@media (max-width: 786px) {
    .place__url-heading {
        font-size: 16px;
        line-height: 26px;
    }
}
